body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background-color: #6f666630;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dog-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

#dog-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#like-dislike-buttons {
    display: flex;
}

#like-button, #dislike-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#like-button {
    background-color: #4caf50;
    color: white;
}

#dislike-button {
    background-color: #f44336;
    color: white;
}

#like-count, #dislike-count {
    margin: 0.5rem;
}

#comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

#comment-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#comments-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#comments-list li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#generate-dog-button {
    text-align: center;
    margin-top: 1rem;
}

#generate-dog {
    padding: 0.5rem 1rem;
    background-color: #0074e4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
